<div class="d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <h1 class="display-3">New reservation</h1>

      <%= render "form", reservation: @reservation %> 

  <br>

  <div class="text-center">
    <%= link_to "Back to reservations", reservations_path %>
  </div>
</div>